InFrameCore/packages
InFrameCore/InFrameAPI/bin
InFrameCore/InFrameAPI/obj
InFrameCore/InFrameAPI/InFrameAPI.csproj.user
*.log
InFrameCore/InFrameDAL/bin
InFrameCore/InFrameDAL/obj
InFrameCore/InFrameTools/bin
InFrameCore/InFrameTools/obj
InFrameCore/InFrameInterfaces/bin
InFrameCore/InFrameInterfaces/obj
InFrameCore/InFrameFormManager/bin
InFrameCore/InFrameFormManager/obj
InFrameCore/InFrameBL/bin
InFrameCore/InFrameBL/obj


